
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Splash Screen</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
</head>
<body>
  <div class="container_splash">
    <%= image_tag "BUDGETTO.svg", class: "logo_splash" %>
      <div class="hold_buttons_splash">
        
        <%= link_to "Log in", new_user_session_path, class: "login_splash_button" %>
        <%= link_to "Sign up", new_user_registration_path, class: "sign_splash_button" %>
      </div>
    
  </div>
</body>
</html>
