<%= form_with(model: [@group, @expense], url: group_expense_path(@group, @expense), method: :patch) do |form| %>

<nav class="navbar navbar-expand-lg navcolor">
  <%= link_to group_path(@group) do %>
    <%= image_tag "arrow_back.svg", class: "arrow-back" %>
  <% end %>
  <h4 id="headingcat">Edit Expense</h4>
  <div class="actions">
    <%= form.submit "Save", class: 'registration-submission' %>
  </div>
</nav>
<div class="new_expense_form">
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :amount %>
    <%= form.number_field :amount, step: '0.01' %>
  </div>

  <div>
    <%= form.label :date %>
    <%= form.date_field :date %>
  </div>

  <div>
    <%= form.label :group_id, "Category" %>
    <%= form.collection_select :group_id, current_user.groups, :id, :name %>
  </div>
</div>
<% end %>

